name: Terraform 
on: 
  push:
    branches: [ "main" ] 
  pull_request: 
permissions: 
  contents: read 
jobs: 
 terraform: 
  name: Terraform 
  runs-on: ubuntu-latest 
  environment: production 
  env:
    TF_VAR_okta_org_name: ${{ secrets.OKTA_ORG_NAME }}
    TF_VAR_okta_base_url: ${{ secrets.OKTA_BASE_URL }}
    TF_VAR_okta_client_id: ${{ secrets.OKTA_CLIENT_ID }}
    TF_VAR_okta_private_key_id: ${{ secrets.OKTA_PRIVATE_KEY_ID }}
    TF_VAR_okta_scopes: ${{ secrets.OKTA_SCOPES }}

  steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Decode Okta private key
      run: |
        echo "${{ secrets.OKTA_PRIVATE_KEY_B64 }}" | base64 -d > okta.key

        # quick verification (safe): show only first and last line
        echo "First line:" && head -n 1 okta.key
        echo "Last line:" && tail -n 1 okta.key

        echo "TF_VAR_okta_private_key<<EOF" >> $GITHUB_ENV
        cat okta.key >> $GITHUB_ENV
        echo "EOF" >> $GITHUB_ENV


    - name: Setup Terraform 
      uses: hashicorp/setup-terraform@v3 
    - name: Terraform Init 
      run: terraform init
    - name: Terraform Plan 
      run: terraform plan -input=false 
    - name: Terraform Apply
      if: github.ref == 'refs/heads/main' && github.event_name == 'push'
      run: terraform apply -auto-approve -input=false -parallelism=1

